/* 总是使用最优页面宽度 */
.md-grid {
    max-width: initial;
}

/* Emojis 跳动效果 */
@keyframes heart {

    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}
